header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px;
}

.imgCont img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.links li{
    list-style: none;
}